
body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

/*LANDING PAGE*/

.App {
  text-align: center;
}

.App-header {
  background-color: #354940;
  height: 300px;
  padding-top: 80px;
  color: white;
}

.holidayTitle {
  font-family: 'Ribeye Marrow', cursive;
  font-size: 40px;
  margin: 0;
}

.welcome {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  margin: 0;
}

.antlers {
  height: 80px;
  width: 80px;
}

.homeDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.homeBody {
  width: 800px;
}

.loginBtn {
  border: 2px solid #354940;
  color: #354940;
  border-radius: 3px;
  height: 50px;
  width: 160px;
  /*margin-top: 40px;*/
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 20px;
}

.loginBtnTwo {
  border: 1px solid #354940;
  color: #354940;
  border-radius: 3px;
  height: 30px;
  width: 100px;
  /*margin-top: 40px;*/
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  margin: 20px;
}


.loginBtn:hover, .loginBtnTwo:hover {
  border: 2px solid #354940;
  background-color: #354940;
  color: #F5F3F2;
}

.btnDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loginForm {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.formLabel {
  padding: 10px;
}

.formInput {
  border-radius: 3px;
  height: 20px;
  width: 150px;
}


/*.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
